<div class="ls-box ls-no-bg ls-box-error">
  <h1 class="ls-title-intro ls-ico-close">N칚o foi poss칤vel carregar a p치gina</h1>
  <p>A aplica칞칚o Gest칚o de Produtos pode estar fora do ar ou seu banco de dados est치 vazio.</p>

  <p><strong>Voc칡 pode:</strong></p>
  <ol>
    <li>Verificar se a aplica칞칚o Gest칚o de Produtos est치 funcionando corretamente.</li>
    <li>Verificar se existe algum grupo de produtos cadastrado no sistema de Gest칚o de Produtos.</li>
    <li>Retornar  <a href="/" class="ls-color-theme">p치gina inicial.</a></li>
  </ol>
  <p>Se o problema persistir, pe칞a ajuda ao Jo칚o</a>. 游때</p>
</div>


